<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
</head>

<body>
    <template source='TPL:common.header' load='true' />
    <div class="container">
        <div class="row">
            <div class="col-left">
                <div class="main-box">
                    <div class="pw-breadcrumb">
                        <i class="fa fa-home"></i><a href="{@url:}" title="{@C:site.info.name}">首页</a><i class="fa fa-angle-right"></i><a href="{@url:vote/my/run}">投票</a><i class="fa fa-angle-right"></i><a href="{@url:vote/hot/run}">热门投票</a>
                    </div>
                    <div class="content_nav">
                        <ul>
                            <li class="current"><a href="{@url:vote/hot/run}">热门投票</a></li>
                            <!--# if ($loginUser->isExists()) { #-->
                            <li><a href="{@url:vote/ta/run}">Ta的投票</a></li>
                            <li><a href="{@url:vote/my/run}">我的投票</a></li>
                            <!--# } #-->
                        </ul>
                    </div>
                    <div class="vote_list">
                        <!--#
                            if ($total) {
                                foreach ($pollInfo as $value) {
                        #-->
                        <template source='TPL:vote.listcommon' load='true' />
                        <!--# }} else { #-->
                        <div class="not_content">啊哦，热门投票暂没有任何内容！</div>
                        <!--# } #-->
                        <page tpl='TPL:common.page' page='$page' per='$perpage' count='$total' url='vote/hot/run' />
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="sidebar-box">
                    <template source='TPL:common.sidebar_1' load='true' />
                    <template source='TPL:vote.sidebar' load='true' />
                </div>
            </div>
        </div>
    </div>
    <template source='TPL:common.footer' load='true' />
    <script>
    Wind.use('jquery', 'global', function() {
        Wind.js(GV.JS_ROOT + 'pages/vote/vote_index.js?v=' + GV.JS_VERSION);
    });
    </script>
</body>

</html>
