<!doctype html>
<html>
<head>
	<template source='TPL:common.head' load='true' />

</head>
<body>
<div class="wrap">
	<template source='TPL:common.header' load='true' />
	<div class="main_wrap">
		<div class="pw-breadcrumb"><i class="fa fa-home"></i>
			<a href="{@url:}" title="{@C:site.info.name}">首页</a><i class="fa fa-angle-right"></i><a href="{@url:manage/content/run}">前台管理</a>
		</div>
		<div class="cc profile_page">
			<div class="md">
				<template source='TPL:manage.menubar_left' load="true" />
			</div>
			<div class="cm">
				<div class="cw">
					<div class="box_wrap">
				<!--#$this->content();#-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<template source='TPL:common.footer' load='true' />
</div>
<script>
Wind.use('jquery', 'global', 'ajaxForm', function(){
	Wind.js(GV.JS_ROOT +'pages/recycle/recycle_index.js?v='+ GV.JS_VERSION);
});
</script>
</body>
</html>
