<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
</head>

<body>
    <template source='TPL:common.header' load='true' />
    <div class="container">
        <div class="row">
            <div class="col-left">
                <div class="main-box">
                    <div class="pw-breadcrumb">
                        <i class="fa fa-home"></i><a href="{@url:run}" title="{@C:site.info.name}">首页</a><i class="fa fa-angle-right"></i><a href="{@url:appcenter/index/run}">应用中心</a>
                    </div>
                    <div class="pw-dl">
                        <!--#
                            foreach ($apps as $k => $app) {
                                if (strpos($app['logo'], '://') === false) {
                                    $app['logo'] = Wekit::url()->extres . '/' . $app['alias'] . '/' . $app['logo'];
                                }
                        #-->
                        <dl class="cc">
                            <dt class="pw-left pw-left-b">
                                <a href="{$app['url']}"><img class="img-radius" src="{$app['logo']}" onerror="this.onerror=null;this.src='{@G:url.images}/admin/yy.png'" alt="{$app['name']}"></a>
                            </dt>
                            <dd class="pw-right">
                                <div class="pw-right-b">
                                    <h6 class="pw-title"><a href="{$app['url']}">{$app['name']}</a></h6>
                                    <p class="pw-intro">{$app['desc']}</p>
                                </div>
                            </dd>
                        </dl>
                        <!--# } #-->
                    </div>
                    <page tpl="TPL:common.page" page="$page" per="$perpage" count="$count" url="appcenter/index/run?orderby=$orderby" />
                </div>
            </div>
            <div class="col-right">
                <div class="sidebar-box">
                    <template source='TPL:common.sidebar_3' load='true' />
                </div>
            </div>
        </div>
    </div>
    <template source='TPL:common.footer' load='true' />
    <script>
    Wind.use('jquery', 'global', function() {});
    </script>
</body>

</html>
