<!doctype html>
<html>

<head>
    <template source='TPL:common.head' load='true' />
</head>

<body>
    <template source='TPL:common.header' load='true' />
    <div class="container">
        <div class="row">
            <div class="col-left">
                <div class="main-box">
                    <div class="pw-breadcrumb">
                        <i class="fa fa-home"></i><a href="{@url:run}" title="{@C:site.info.name}">首页</a><i class="fa fa-angle-right"></i><a href="{@url:appcenter/index/run}">应用中心</a>
                    </div>
                    <form method="POST" action="{$appUrl}&charset={@Wekit::V('charset')}" id="app_form" target="post_iframe">
                        <input type="hidden" name="frompw" value="{@base64_encode(pw::getTime())}">
                    </form>
                    <iframe src="" name="post_iframe" scrolling="no" id="apps"></iframe>
                </div>
            </div>
            <div class="col-right">
                <div class="sidebar-box">
                    <template source='TPL:common.sidebar_3' load='true' />
                </div>
            </div>
        </div>
    </div>
    <template source='TPL:common.footer' load='true' />
    <script>
    document.getElementById("app_form").submit();
    </script>
</body>

</html>
