/**
 * pw-article
 * pw-breadcrumb
 * pw-title
 * pw-line
 * pw-info
 * pw-intro
 * pw-ul
 * pw-dl
 * pw-dl-dt
 * pw-dl-dd
 * pw-follow
 * pw-unfollow
 * pw-content-nav
 * pw-content-type
 * pw-content-none
 * pw-content-tips
 * pw-left/pw-right
 * pw-unleft/pw-unright
 * pw-list
 * pw-list-title
 * pw-list-img
 * pw-list-fans
 * pw-list-user
 * pw-tips-success
 * pw-tips-error
 * pw-tips-password
 * pw-tips-maildown
 * pw-page-wrap
 * pw-pop-wrap
 * pw-progress-wrap
 */

.fa {
    width: 21px;
    text-align: center;
}

.pw-article {
    word-wrap: break-word;
    i,
    em {
        font-style: italic;
    }
    p {
        margin-bottom: 15px;
    }
    img {
        vertical-align: top;
    }
    ul,
    ol {
        padding-left: 30px;
    }
    ul li {
        list-style: disc outside;
    }
    ol li {
        list-style: decimal outside;
    }
    dt {
        font-weight: 700;
    }
    dd {
        margin-left: 30px;
    }
    blockquote {
        margin: 0 0 15px;
        border-left: 5px solid $border-success;
        border-radius: 0 2px 2px 0;
        padding: 15px;

        line-height: 1.75;

        background-color: $bg-default;
    }
}

.pw-breadcrumb {
    margin-bottom: 20px;

    @include grayhover;
}

.pw-title {
    margin-bottom: 15px;
    border-bottom: 1px solid $border-default;
    padding: 10px 15px;

    background-color: $bg-default;
    .info {
        float: right;

        color: $gray-base;
    }
    .edit {
        float: right;

        color: $brand-primary;
    }
}

.pw-line {
    float: left;

    padding: 0 10px;

    color: $border-default;
}

.pw-info {
    @include grayhover;
}

.pw-intro {
    color: $gray-light;
}

.pw-left {
    float: left;

    position: relative;
}

.pw-right {
    float: right;

    width: 100%;
}

.pw-left-fixs {
    margin-right: -32px;
    width: 32px;
    img {
        width: 32px;
        height: 32px;
    }
}

.pw-right-fixs {
    margin-left: 40px;
}

.pw-left-fixm {
    margin-right: -48px;
    width: 48px;
    img {
        width: 48px;
        height: 48px;
    }
}

.pw-right-fixm {
    margin-left: 60px;
}

.pw-left-fixb {
    margin-right: -64px;
    width: 64px;
    img {
        width: 64px;
        height: 64px;
    }
}

.pw-right-fixb {
    margin-left: 80px;
}

@media (max-width: 767px) {
    .pw-left-m {
        margin-right: -32px;
        width: 32px;
        img {
            width: 32px;
            height: 32px;
        }
    }
    .pw-right-m {
        margin-left: 40px;
    }
    .pw-left-b {
        margin-right: -48px;
        width: 48px;
        img {
            width: 48px;
            height: 48px;
        }
    }
    .pw-right-b {
        margin-left: 60px;
    }
}

@media (min-width: 768px) {
    .pw-left-m {
        margin-right: -48px;
        width: 48px;
        img {
            width: 48px;
            height: 48px;
        }
    }
    .pw-right-m {
        margin-left: 60px;
    }
    .pw-left-b {
        margin-right: -64px;
        width: 64px;
        img {
            width: 64px;
            height: 64px;
        }
    }
    .pw-right-b {
        margin-left: 80px;
    }
}

.pw-unleft {
    float: left;

    width: 100%;
}

.pw-unright {
    float: right;

    position: relative;
}

.pw-unleft-fixs {
    margin-right: 56px;
}

.pw-unright-fixs {
    margin-left: -56px;
    width: 56px;
}

.pw-unleft-fixm {
    margin-right: 80px;
}

.pw-unright-fixm {
    margin-left: -80px;
    width: 80px;
}

.pw-unleft-fixb {
    margin-right: 104px;
}

.pw-unright-fixb {
    margin-left: -104px;
    width: 104px;
}

.pw-page-wrap {
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.pw-page {
    display: inline-block;

    margin-top: 35px;

    font-size: 14px;
    a,
    span,
    strong {
        display: inline-block;
        float: left;

        margin: 0 2px;
        padding: 0 15px;
        height: 34px;

        line-height: 32px;
    }
    a {
        border: 1px solid $border-default;

        color: $gray-base;
        &:hover {
            border: 1px solid $brand-primary;

            color: #fff;
            background-color: $brand-primary;
        }
    }
    span {
        border: 1px solid $border-default;

        color: $gray-base;
    }
    strong {
        border: 1px solid $brand-primary;

        font-weight: normal;

        color: $brand-primary;
    }
}

.pw-pop-wrap {
    position: absolute;

    background-color: #fff;

    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    .pop-hd {
        padding: 10px 15px;

        color: #fff;
        background-color: $brand-primary;
        a {
            float: right;

            color: #fff;
            &:hover {
                color: $gray-light;
            }
        }
    }
    .pop-ft {
        text-align: center;
        .btn {
            margin: 0 15px;
        }
    }
}

@media (max-width: 767px) {
    .pw-pop-wrap {
        width: 290px;
        .pop-ct {
            padding: 15px;
        }
        .pop-ft {
            padding: 0 15px 15px;
        }
    }
}

@media (min-width: 768px) {
    .pw-pop-wrap {
        width: 450px;
        .pop-ct {
            padding: 25px;
        }
        .pop-ft {
            padding: 0 25px 25px;
        }
    }
}

.pw-progress-wrap {
    margin-top: 10px;

    font-size: 12px;
    line-height: 14px;
}

.pw-progress {
    display: block;

    position: relative;

    margin-top: 5px;
    width: 100%;
    height: 4px;

    background-color: #e9ecef;
    span {
        display: inline-block;

        position: absolute;
        top: 0;
        left: 0;

        height: 4px;
    }
}

.pw-progress-1 {
    background: #4cd964 linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}

.pw-progress-2 {
    background: #f06595 linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}

.pw-progress-3 {
    background: #5ac8fa linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}

.pw-progress-4 {
    background: #37b24d linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}

.pw-progress-5 {
    background: #5856d6 linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}

.pw-progress-6 {
    background: #be4bdb linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}

.pw-progress-7 {
    background: #007aff linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}

.pw-progress-8 {
    background: #ff9500 linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}

.pw-progress-9 {
    background: #ff3b30 linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
}

.pw-progress-bg {
    float: left;

    border-radius: 2px;
    padding: 0 5px;
    height: 14px;

    color: #fff;
}

.pw-progress-bg-1 {
    background-color: #4cd964;
}

.pw-progress-bg-2 {
    background-color: #f06595;
}

.pw-progress-bg-3 {
    background-color: #5ac8fa;
}

.pw-progress-bg-4 {
    background-color: #37b24d;
}

.pw-progress-bg-5 {
    background-color: #5856d6;
}

.pw-progress-bg-6 {
    background-color: #be4bdb;
}

.pw-progress-bg-7 {
    background-color: #007aff;
}

.pw-progress-bg-8 {
    background-color: #ff9500;
}

.pw-progress-bg-9 {
    background-color: #ff3b30;
}

.pw-progress-percent {
    float: left;

    padding: 0 5px;
}
