/**
 * announce
 * appcenter
 * fourm
 * like
 * link
 * manage
 * medal
 * message
 * my
 * profile
 * report
 * special
 * tag
 * task
 * u
 * vote
 */

@media (max-width: 767px) {
    // background-color: #fff;
}


/**
 * announce
 */

.announce-slide {
    overflow: hidden;

    margin-bottom: 25px;
    border-bottom: 1px dashed $border-default;
    height: 35px;
    li {
        overflow: hidden;

        height: 35px;

        line-height: 35px;
        i {
            color: $brand-warning;
        }
        span {
            float: right;

            color: $gray-light;
        }
    }
}

.announce-page {
    margin-right: -15px;
    margin-left: -15px;
    dl + dl {
        border-top: 1px dashed $border-default;
    }
    dl {
        dt {
            padding: 10px 15px;

            cursor: pointer;
            &:hover {
                background-color: $bg-default;
            }
        }
        dd {
            display: none;
        }
        span {
            float: right;

            color: $gray-light;
        }
    }
    dl.current {
        dt {
            background-color: $bg-light;
        }
        dd {
            display: block;

            padding: 25px 15px;

            line-height: 1.75;
            a {
                color: $link-hover;
            }
        }
    }
}
