<!--# if ($__tpl_data) { #-->
<div class="announce-slide">
    <ul class="J_slide_auto">
        <!--#
            foreach ($__tpl_data as $key => $value) {
                $url = WindUrlHelper::createUrl('announce/index/run',array('aid'=>$key));
        #-->
        <li>
            <span class="hidden-sm">{$value['start_date']}</span>
            <i class="fa fa-bullhorn"></i><a href="{$url|url}" target="_self">{$value['subject']}</a>
        </li>
        <!--# } #-->
    </ul>
</div>
<!--# } #-->
